.patient-table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .header-row {
    background-color: #d5dce3;
    font-weight: bold;
    color: #ffffff;
  }
  
  .cell-header,
  .cell {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  .cell:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .cell:last-child {
    border-right: none;
  }
  
  .cell:first-child {
    border-left: none;
  }
  
  .cell-header {
    color: #0e1419;
  }
  
  .header-row th {
    text-align: center;
  }
  
  .patient-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 12px;
  }
  
  .patient-image-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    background-color: #dddddd;
  }
  
  .patient-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .patient-name-cell,
  .cell {
    text-align: center;
  }
  
  .patient-table th {
    font-size: 1.2rem;
    color: #003366;
  }
  
  .patient-table td {
    font-size: 1.1rem;
    color: #0e1419;
  }
  
  .patient-table tr:hover {
    background-color: #f2f2f2;
  }